.product-page {
  display: grid;
  grid-template: 1fr / 1fr;
  height: calc(100vh - 85px);
  place-items: center;
}

.product-page__info > img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}

.product-page__info {
  position: relative;
  display: grid;
  grid-template: 1fr 25px 20px 100px 60px / 1fr;
  justify-items: center;
  gap: 10px;

  height: fit-content;
  max-width: 600px;
  padding: 1rem;

  background-color: #fff;
  border-radius: 10px;
  border: 2px solid lightgray;
}

.product-page__info > h1 {
  text-decoration: underline;
}

.product-page__info > p {
  overflow-y: scroll;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.product-page__checkout {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.product-page__checkout > button {
  width: 300px;
}

@media screen and (max-width: 520px) {
  .product-page__info > img,
  .product-page__checkout,
  .product-page__checkout > button {
    transition: 500ms;
  }
  .product-page__info > img {
    max-width: 300px;
    max-height: 300px;
  }

  .product-page__checkout {
    flex-direction: column;
  }

  .product-page__checkout > button {
    width: 250px;
  }
}

.go-back {
  display: grid;
  place-content: center;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 12px;
  left: 10px;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: lightgray;
  font-weight: bold;
  cursor: pointer;
}

.go-back:hover {
  transform: scale(1.2, 1.2);
  transition: transform 175ms ease-in-out;
}
