@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");

.home__welcome > h2,
.home__about > h2,
.reviews > h2 {
  font-family: "Hedvig Letters Serif", Arial, Helvetica, sans-serif;
}

#home {
  display: grid;
  height: calc(100vh - 85px);
  overflow-y: scroll;
}

#home::-webkit-scrollbar {
  display: none;
}

/* Hero */

.home-hero {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: end;
  padding-bottom: 5rem;
  background-color: #000;
  height: calc(100vh - 85px);
  overflow: hidden;
}

.home-hero__video {
  position: absolute;
  top: -200px;
  left: -200px;
  opacity: 0.65;
}

.home-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home__welcome {
  display: grid;
  grid-template-rows: 100px 120px;
  text-align: center;
  justify-items: center;
  align-items: end;
  height: 40%;
  z-index: 999;
}

.home__welcome > h2 {
  letter-spacing: 5px;
  color: #f1f1f1;
  font-size: 4.5rem;
}

.home__welcome > a {
  width: fit-content;
}

.home__stats {
  display: flex;
  color: #fff;
  height: 15vh;
  background-color: #000;
}

.view-all-products {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414;
  height: 60px;
  width: 400px;
  font-size: 1.2rem;
  color: #f1f1f1;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.view-all-products:hover {
  transform: scale(1.1, 1.1);
  transition: transform 250ms ease-in-out;
}

/* About */

.home__about {
  display: grid;
  justify-items: center;
  width: 100vw;
}

.home__about--info,
.review-list {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  border: 5px solid #000;
  border-radius: 15px;
  width: calc(100% - 32px);
  max-width: 1700px;
}

.home__about--info {
  place-items: center;
  height: 500px;
}

.home__about--info > p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 60%;
}

/* Reviews */

.reviews {
  display: grid;
  justify-items: center;
  width: 100vw;
}

.reviews > h2,
.home__about > h2 {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  padding: 2rem 0;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.review-list {
  list-style: none;
  gap: 25px;
  width: calc(100% - 32px);
  max-width: 1700px;
}

.review-list--item {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}

.review-list--item > img {
  height: 225px;
  width: 225px;
  border-radius: 50%;
}

.review-list--item__content > p {
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  max-width: 700px;
  padding: 2rem;
}

.review-list--item:nth-child(1) {
  grid-template: 1fr 20px / 225px 1fr;
}

.review-list--item:nth-child(1) > section {
  grid-area: 1 / 2 / 2 / 3;
}

.review-list--item:nth-child(1) > section > p:before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: -13px;
  height: 20px;
  width: 20px;
  background: inherit;
  transform: rotate(135deg);
  border-bottom: inherit;
  border-right: inherit;
}

.review-list--item:nth-child(2) {
  grid-template: 1fr 20px / 1fr 225px;
}

.review-list--item:nth-child(2) > section {
  display: grid;
  justify-content: end;
  grid-area: 1 / 1 / 2 / 2;
}

.review-list--item:nth-child(2) > section > p:before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: -13px;
  height: 20px;
  width: 20px;
  background: inherit;
  transform: rotate(315deg);
  border-bottom: inherit;
  border-right: inherit;
}

.review-list--item:nth-child(2) > h3 {
  grid-area: 2 / 2 / 3 / 3;
}

/* Animation */

.animate-on-scroll {
  transform: translateX(-300px);
  opacity: 0;
  transition: all 0.4s ease;
  transition-delay: 300ms;
}

.slidein-animation {
  opacity: 1;
  transform: translateX(0);
}
