.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid lightgray;
}

.header__h1 {
  text-decoration: none;
  color: #000;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 15px;
}

#cart {
  position: relative;
  cursor: pointer;
}

#cart-btn {
  width: 32px;
}

.fav-link-container {
  display: grid;
  place-content: center;
}

.fav-link > svg {
  width: 28px;
  height: 28px;
  margin-bottom: 2px;
}

.fav-link > svg:hover {
  fill: red;
  transition: fill 200ms ease-in-out;
}
