#cart-sidebar {
  display: grid;
  grid-template: 50px 1fr 130px / 1fr;
  position: fixed;
  text-align: center;
  align-items: center;
  top: 0;
  right: -410px;
  width: 400px;
  height: 100vh;
  padding: 0.75rem;
  box-shadow: -7px 2.5px 2.5px #00000040;
  background: #fff;
  z-index: 1000;
  transition: 500ms;
}

#cart-sidebar.active {
  right: 0px;
}

.cart-sidebar-header {
  display: grid;
  align-items: center;
  position: relative;
}

.cart-sidebar-close-btn {
  display: grid;
  place-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background-color: lightgray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.cart-sidebar-close-btn:hover {
  transform: scale(1.2, 1.2);
  transition: all 250ms ease-in-out;
}

.cart-total-items {
  position: absolute;
  right: 15px;
}

.cart-sidebar__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 140px;
  gap: 8px;
  list-style: none;
  padding: 0.5rem;
  height: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  overflow-y: scroll;
}

.cart-sidebar__list::-webkit-scrollbar {
  display: none;
}

.cart-sidebar__list--item {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: 1fr 60px / 125px 1fr;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.cart-sidebar__image {
  grid-area: 1 / 1 / 3 / 2;
  width: 120px;
  border-radius: 8px;
}

.cart-sidebar__list--item__title {
  max-width: 200px;
  font-weight: bold;
  grid-area: 1 / 2 / 2 / 3;
}

.cart-sidebar__prices-quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
}

.cart-item__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  width: 80px;
  padding: 0.25rem;
}

.cart-item__quantity > button {
  background-color: inherit;
  border: none;
  padding: 0.2rem;
  height: 20px;
  cursor: pointer;
}

.cart-item__quantity > button > img {
  width: 12px;
}

.product--individual-price {
  color: gray;
}

.cart-sidebar__delete-btn {
  background-color: inherit;
  position: absolute;
  top: 15px;
  right: 0;
  width: 17px;
  height: 17px;
  border: none;
  cursor: pointer;
}

.cart-sidebar__delete-btn:hover {
  fill: #ec3a4c;
  transition: 250ms ease-in-out;
}

.cart-sidebar__basket {
  display: grid;
  align-items: center;
  padding: 0 0.45rem;
}

.view-cart-btn {
  height: 34px;
  width: 100%;
  border: none;
  background-color: lightgray;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.cart-sidebar__total-clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.cart-sidebar__clear-all {
  display: grid;
  place-items: center;
  background-color: #ec3a4c;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.cart-sidebar__clear-all > img {
  width: 20px;
}

.checkout-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.45rem;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.checkout-btn:hover {
  background-color: #37d394;
  transition: all 150ms linear;
}
