.account-page {
  display: grid;
  place-content: center;
}

.account-page--content {
  display: grid;
  grid-template-columns: 25% 1fr;
  width: 576px;
  height: 500px;
  border: 4px solid #000;
}

.account-page--nav {
  display: grid;
  row-gap: 2px;
  grid-template-rows: repeat(auto-fill, 118px);
  border-right: 4px solid #000;
  background-color: #fff;
}

.account-page--nav-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: "Hedvig Letters Serif";
  cursor: pointer;
}

/* Profile */

.profile {
  display: none;
  grid-template: 120px 1fr 80px / repeat(2, 1fr);
  justify-items: center;
  background-color: #fff;
}

.profile.tab--active {
  display: grid;
}

.profile__header {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 280px 130px;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: #e2dfdf;
  padding: 0 0.5rem;
  border-bottom: 3px solid #000;
}

.profile__header--user-info {
  display: grid;
  row-gap: 12px;
  width: 100%;
  grid-area: 1 / 1 / 3 / 2;
}

.profile__header--user-info > h3 {
  font-family: "Hedvig Letters Serif";
}

.profile__header--user-info > h4 {
  color: #8b8b8b;
  font-style: italic;
}

.profile__header > img {
  grid-area: 1 / 2 / 3 / 3;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  overflow: hidden;
  background-color: #fff;
}

.profile__bio {
  grid-area: 2 / 1 / 3 / 3;
  width: 100%;
  padding: 1rem;
}

.profile__bio > h1 {
  font-size: 1.2rem;
}

.profile__bio > p {
  height: 100%;
  padding: 0.75rem;
  font-style: italic;
}

.profile__btns {
  grid-area: 3 / 1 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.logout-btn {
  grid-area: 1 / 2 / 2 / 3;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.logout-btn {
  background-color: lightgray;
}

.logout-btn:hover {
  background-color: #919191;
  transition: background-color 300ms ease;
}

/* Edit Profile */

.edit-profile {
  display: none;
  background-color: #fff;
  padding: 1rem;
  overflow-y: scroll;
}

.edit-profile.tab--active {
  display: grid;
}

.edit-profile__form {
  display: grid;
  align-items: center;
}

.edit-profile__form > label {
  display: grid;
  gap: 0.5rem;
}

.edit-profile__form > label > input {
  padding: 0.2rem;
  height: 40px;
}
.edit-profile__form > label > textarea {
  padding: 0.2rem;
}

.edit-profile__form-submit {
  border: none;
  background-color: #000;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  height: 100%;
}

.edit-profile__res {
  text-align: center;
  font-size: 1.1rem;
  color: #000;
}
