.products {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  place-content: center;
  gap: 20px;
  border-bottom: 6px solid #000;
}

.filter-category--btn {
  height: 50px;
  font-size: 1.25rem;
  font-family: "Hedvig Letters Serif", Arial, Helvetica, sans-serif;
  background-color: #fff;
  border: 3px solid #000;
  cursor: pointer;
}

.filter-category--btn.selected,
.filter-category--btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.25s ease;
}

.products-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-auto-rows: 460px;
  justify-content: center;
  gap: 10px;
  list-style: none;
  height: calc(100vh - 165px);
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 1rem;
  background-color: #faf9f6;
}

.products-list::-webkit-scrollbar {
  display: none;
}

.product--card__link {
  text-decoration: none;
  color: #000;
}

.product--card {
  position: relative;
  display: grid;
  grid-template-rows: 290px 170px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #00000030;
  overflow: hidden;
}

.product--card__link > img {
  min-height: 290px;
  width: 100%;
}

.product--card__bottom {
  display: grid;
  grid-template-rows: 1fr 55px;
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 998;
}

.product--info {
  display: grid;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0 0.5rem;
}

.product--title {
  font-size: 1.25rem;
}

.product--price {
  font-weight: bold;
  font-size: 1.1rem;
}

.product--btns {
  display: grid;
  align-items: center;
  padding: 0.25rem 0.3rem;
  grid-template-columns: 30px 1fr;
  gap: 10px;
}

.fav,
.atc {
  cursor: pointer;
  border: none;
  background-color: lightgray;
}

.atc {
  height: 90%;
  border-radius: 7px;
  font-size: 1.1rem;
}

.atc:hover {
  background-color: rgb(167, 166, 166);
  transition: background-color 200ms ease-in-out;
}

.fav {
  display: grid;
  place-items: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  font-weight: bold;
  padding: 0.4rem;
}

.fav > svg {
  height: 17px;
  width: 17px;
}

.fav > svg:hover {
  fill: red;
  transform: scale(1.4, 1.4);
  transition: all 150ms ease-in;
}
