* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: grid;
  grid-template: 85px 1fr / 1fr;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: #faf9f6;
}

/* Header */

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid lightgray;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__links > p {
  font-weight: bold;
  font-size: 1.25rem;
}

#cart {
  width: 32px;
  cursor: pointer;
}

/* Cart Sidebar */

#cart-sidebar {
  display: grid;
  grid-template: 50px 1fr 60px / 1fr;
  position: fixed;
  text-align: center;
  align-items: center;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: #faf9f6;
  border-left: 2px solid lightgray;
  z-index: 999;
  transition: 500ms;
}

#cart-sidebar.active {
  right: 0px;
}

#cart-sidebar > h1 {
  font-size: 1.5rem;
}

.cart-sidebar__list {
  display: grid;
  list-style: none;
  padding: 0.5rem;
  height: 100%;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.cart-sidebar__checkout {
  display: grid;
  align-items: center;
  grid-template-columns: 90px 1fr;
  padding: 0 0.45rem;
}

.checkout-btn {
  border: none;
  border-radius: 6px;
  padding: 0.45rem;
  font-weight: bold;
  cursor: pointer;
  background-color: lightgray;
}

.checkout-btn:hover {
  background-color: rgb(87, 223, 87);
  transition: background-color 250ms ease-in;
}

/* Home */

.home {
  padding: 1rem;
}

.home__products {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-auto-rows: 415px;
  justify-content: center;
  gap: 8px;
  list-style: none;
  height: calc(100vh - 117px);
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Product */

.product--card {
  position: relative;
  display: grid;
  grid-template-rows: 225px 170px;
  border-radius: 8px;
  overflow: hidden;
}

.product--card > img {
  min-height: 225px;
  width: 100%;
}

.product--card__bottom {
  display: grid;
  grid-template-rows: 1fr 55px;
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 998;
}

.product--info {
  display: grid;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0 0.5rem;
}

.product--title {
  font-size: 1.25rem;
}

.product--price {
  font-weight: bold;
  font-size: 1.1rem;
}

.product--btns {
  display: grid;
  align-items: center;
  padding: 0.25rem 0.3rem;
  grid-template-columns: 30px 1fr;
  gap: 10px;
}

.fav,
.atc {
  cursor: pointer;
  border: none;
  background-color: lightgray;
}

.atc {
  height: 90%;
  border-radius: 7px;
  font-size: 1.1rem;
}

.atc:hover {
  background-color: rgb(167, 166, 166);
  transition: background-color 200ms ease-in-out;
}

.fav {
  display: grid;
  place-items: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  font-weight: bold;
  padding: 0.4rem;
}

.fav > svg {
  height: 17px;
  width: 17px;
}

.fav > svg:hover {
  fill: red;
  transform: scale(1.4, 1.4);
  transition: all 150ms ease-in;
}
