* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: grid;
  grid-template: 85px 1fr / 1fr;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: #faf9f6;
}

/* Header */

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid lightgray;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.fav-link-container {
  display: grid;
  place-content: center;
}

.fav-link > svg {
  width: 28px;
  height: 28px;
  margin-bottom: 2px;
}

.fav-link > svg:hover {
  fill: red;
  transition: fill 200ms ease-in-out;
}

/* Home */

.home {
  padding: 1rem;
}

.home__products {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-auto-rows: 415px;
  justify-content: center;
  gap: 10px;
  list-style: none;
  height: calc(100vh - 117px);
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Product */

.product--card {
  position: relative;
  display: grid;
  grid-template-rows: 225px 170px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 5px 2.5px 2.5px #00000030;
}

.product--card > img {
  min-height: 225px;
  width: 100%;
}

.product--card__bottom {
  display: grid;
  grid-template-rows: 1fr 55px;
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 998;
}

.product--info {
  display: grid;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0 0.5rem;
}

.product--title {
  font-size: 1.25rem;
}

.product--price {
  font-weight: bold;
  font-size: 1.1rem;
}

.product--btns {
  display: grid;
  align-items: center;
  padding: 0.25rem 0.3rem;
  grid-template-columns: 30px 1fr;
  gap: 10px;
}

.fav,
.atc {
  cursor: pointer;
  border: none;
  background-color: lightgray;
}

.atc {
  height: 90%;
  border-radius: 7px;
  font-size: 1.1rem;
}

.atc:hover {
  background-color: rgb(167, 166, 166);
  transition: background-color 200ms ease-in-out;
}

.fav {
  display: grid;
  place-items: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  font-weight: bold;
  padding: 0.4rem;
}

.fav > svg {
  height: 17px;
  width: 17px;
}

.fav > svg:hover {
  fill: red;
  transform: scale(1.4, 1.4);
  transition: all 150ms ease-in;
}
